@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.card {
  width: 26vh;
  height: 40vh;
  background: rgb(255, 255, 255);
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: black;
}
   
.card:hover {
  border: #006fff 0.2em solid;
  
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0213fd85;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.card:hover .overlay {
  height: 100%;
  backdrop-filter: blur(6px);
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
  


/* h1 edits */

.centrar h1 {
    text-align: center;
    padding-bottom: 3%;
}