<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="{% static '/ssmso/css/styles.css' %}"> <!-- CSS -->
    <link rel="icon" href="{% static '/ssmso/img/favicon.ico' %}" type="ico">
    <title>SSMSO</title>
</head>
<header>
    <div class="container">
        <div class="imggb">
            <img src="{% static '/ssmso/img/logo.png' %}">
        </div>
    </div>
    
    <!-- NAVBAR -->
    <div class="container main-navbar">
        <div class="navbarhome sticky-bottom">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <div class="row"> 
                            <div class="col">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle border" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        la weaita q baja xd
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">a</a></li>
                                        <li><a class="dropdown-item" href="#">b</a></li>
                                        <li><a class="dropdown-item" href="#">c</a></li>
                                    </ul>
                                </li>
                            </div>
                            <div class="col">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle border" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        la weaita q baja xd
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">a</a></li>
                                        <li><a class="dropdown-item" href="#">b</a></li>
                                        <li><a class="dropdown-item" href="#">c</a></li>
                                    </ul>
                                </li>
                            </div>
                            <div class="col">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle border" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        la weaita q baja xd
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">a</a></li>
                                        <li><a class="dropdown-item" href="#">b</a></li>
                                        <li><a class="dropdown-item" href="#">c</a></li>
                                    </ul>
                                </li>
                            </div>
                            <div class="col">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle border" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        la weaita q baja xd
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">a</a></li>
                                        <li><a class="dropdown-item" href="#">b</a></li>
                                        <li><a class="dropdown-item" href="#">c</a></li>
                                    </ul>
                                </li>
                            </div>
                            <div class="col">
                                <a href="" role="button">asdada</a>
                            <div>
                        </div>
                    </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<body>
    {% load static %}
    
    <div class="container">
        <div class="body-bg ">
            <div class="login-box">
                <div class="login-header">
                    <h6>Inicio de Sesión</h6>
                    <h4>SSMSO</h4>
                </div>
                <div class="login-form">
                    <form>
                        <div class="mb-3">
                          <input type="text" class="form-control" placeholder="Ingrese su RUN">
                        </div>
                        <div class="mb-3">
                          <input type="password" class="form-control" placeholder="Ingrese su ClaveSS">
                        </div>
                        <button type="submit" id="boton-continue" class="btn btn-primary">Continuar</button>
                </form>
                </div>
            </div>
        </div>
    </div>



    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script> <!-- BOOTSTRAP -->
</body>
</html>