<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="{% static '/ssmso/css/login-styles.css' %}"> <!-- CSS -->
    <link rel="icon" href="{% static '/ssmso/img/favicon.ico' %}" type="ico">
    <title>Iniciar Sesion</title>
</head>
<body>
    {% load static %}
    
    <!-- HEADER -->
    <header>
        <div class="container">
            <div class="imggb">
                <img src="{% static '/ssmso/img/logo.png' %}">
            </div>
        </div>
        
        <!-- NAVBAR -->
        <div class="container main-navbar">
            <div class="navbarhome sticky-bottom">
                <nav class="navbar navbar-expand-lg bg-light ">
                    <div class="container">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown" >
                            <ul class="navbar-nav">
                                <div class="row" >
                                    <div class="col">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <!-- disabled -->
                                                <b> Fase Pré-Quirúrgica</b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="forms.html">Inter-Consulta</a></li>
                                                <li><a class="dropdown-item" href="formulariointer.html">Evaluación Consulta</a></li>
                                                <li><a class="dropdown-item" href="formulariotraslado.html">Programación de Cirugía</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                    <div class="col">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <b>Fase Quirúrgica</b> 
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="forms.html">Preparación Pabellón</a></li>
                                                <li><a class="dropdown-item" href="{% url 'forms' %}">Ejecución de Intervención Quirúrgica</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                    <div class="col">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                               <b> Fase Post-Quirúrgica</b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Recuperación y Alta</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                    <div class="col">
                                        <a class="nav-link " href="#">
                                           <b> Inicio de Sesión</b>
                                        </a>
                                    </div>
                                    <div class="col a">
                                        <div class="nav-mini-logo-min"><span class="azul"></span><span class="rojo"></span></div>
                                        <p class="min" style="width: 100% ;text-align: center;">Ministerio de Salud</p>
                                    </div>
                                    
                                </div>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!-- BODY -->
    <div class="container">
        <div class="body-bg ">
            <div class="login-box">
                <div class="login-header">
                    <div class="mini-logo-min"><span class="azul"></span><span class="rojo"></span></div>
                        <h5>Inicio de Sesión</h5>
                        <h3>SSMSO</h3>
                    </div>
                    <div class="login-form">
                    <form>
                        {% csrf_token %}
                        <div class="mb-3">
                          <input type="text" class="form-control" placeholder="Ingrese su RUN">
                        </div>
                        <div class="mb-3">
                          <input type="password" class="form-control" placeholder="Ingrese su ClaveSS">
                        </div>
                        <div class="olvidaste"><a href="#">¿Olvidaste tu claveSS?</a></div>
                        <div class="boton-submit"><button type="submit" id="boton-continue"  class="btn btn-primary">Continuar</button></div>
                    </form>
                    </div>
                </div>
            <div class="ayuda">Ayuda al (02) 25762300</div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="container">
        <footer>
       
            <div class="line-mini-logo-min"><span class="footer-azul"></span><span class="footer-rojo"></span></div>
            <div class="footer-container">
                <div class="lista">
                    <h4>Gestión de Salud</h4>
                    <ul>
                        <li>DEIS</li>
                        <li>GES - Registro Urgencia</li>
                        <li>Gestión de Camas</li>
                        <li>Proyecto MIS</li>
                        <li>Urgencia Infantil</li>
                    </ul>
                </div>
                <div class="lista border-gray">
                    <h4>Normas y Manuales</h4>
                    <ul>
                        <li>Biblioteca de Red Cardiovalcular</li>
                        <li>CAIF</li>
                        <li>Departamento de Calidad y Seguridad del Paciente</li>
                        <li>Departamento de Emergencia yDesastre</li>
                        <li>Manual de Synapse</li>
                        <li>Protocolos</li>
                        <li>Sidra</li>
                    </ul>
                </div>
            
                <div class="lista border-gray">
                    <h4>Sistemas</h4>
                    <ul>
                        <li>Auto Consulta RRHH</li>
                        <li>Centros Tratamiento Alcohol y Drogas</li>
                        <li>Fondos de Ojos</li>
                        <li>Laboratorio en Línea</li>
                        <li>Sineav Atención Primaria</li>
                        <li>Sineav Hospitales 3.0</li>
                        <li>Sistema Tabaquismo SSMSO</li>
                        <li>Sistema para la visualización de imágenes</li>
                        <li>Mapa Urgencia SSMSO</li>
                        <li>SISAPS</li>
                        <li>SGS - Sistema Gestión SIDRA 2.0</li>
                    </ul>
                </div>
            </div>
            <div class="footer-text">Servicio de Salud Metropolitano Sur Oriente - Dirección: Avda. Concha y Toro 3459, Puente Alto - Chile - Teléfono: (02) 25762300</div>
            <div class="footer-mini-logo-min"><span class="azul"></span><span class="rojo"></span></div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script> <!-- BOOTSTRAP -->
</body>
</html>