<div class="container">
    <footer>
   
        <div class="line-mini-logo-min"><span class="footer-azul"></span><span class="footer-rojo"></span></div>
        <div class="footer-container">
            <div class="lista">
                <h4>Gestión de Salud</h4>
                <ul>
                    <li>DEIS</li>
                    <li>GES - Registro Urgencia</li>
                    <li>Gestión de Camas</li>
                    <li>Proyecto MIS</li>
                    <li>Urgencia Infantil</li>
                </ul>
            </div>
            <div class="lista border-gray">
                <h4>Normas y Manuales</h4>
                <ul>
                    <li>Biblioteca de Red Cardiovalcular</li>
                    <li>CAIF</li>
                    <li>Departamento de Calidad y Seguridad del Paciente</li>
                    <li>Departamento de Emergencia yDesastre</li>
                    <li>Manual de Synapse</li>
                    <li>Protocolos</li>
                    <li>Sidra</li>
                </ul>
            </div>
        
            <div class="lista border-gray">
                <h4>Sistemas</h4>
                <ul>
                    <li>Auto Consulta RRHH</li>
                    <li>Centros Tratamiento Alcohol y Drogas</li>
                    <li>Fondos de Ojos</li>
                    <li>Laboratorio en Línea</li>
                    <li>Sineav Atención Primaria</li>
                    <li>Sineav Hospitales 3.0</li>
                    <li>Sistema Tabaquismo SSMSO</li>
                    <li>Sistema para la visualización de imágenes</li>
                    <li>Mapa Urgencia SSMSO</li>
                    <li>SISAPS</li>
                    <li>SGS - Sistema Gestión SIDRA 2.0</li>
                </ul>
            </div>
        </div>
        <div class="footer-text">Servicio de Salud Metropolitano Sur Oriente - Dirección: Avda. Concha y Toro 3459, Puente Alto - Chile - Teléfono: (02) 25762300</div>
        <div class="footer-mini-logo-min"><span class="azul"></span><span class="rojo"></span></div>
    </footer>
</div>